.colouring {    
    color:cornflowerblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:x-large;
}
.mew{
    color:honeydew
}
.pet{
    color:darkorchid;
    font-style: italic;
}
.bg{
    background-color:black;
}